.makeCharacter-naming {
  position: fixed;
  top: 15rem;
  left: 50%;
  z-index: 5;
  display: none;
  flex-direction: column;
  align-items: center;
  width: 90rem;
  height: 48rem;
  background: var(--color-white);
  border: 2px solid var(--color-orange-1);
  border-radius: 2rem;
  transform: translateX(-50%);
  animation: make-nameofcharacter 1s ease 1;
}

.makeCharacter-naming h2 {
  margin-top: 5rem;
  margin-bottom: 3rem;
  font-size: 3rem;
  color: var(--color-main);
  font-family: var(--font-english-1);
}

.makeCharacter-naming-inputs {
  display: flex;
  flex-direction: column;
  width: 38rem;
  height: 20rem;
  margin-bottom: 4rem;
}

.makeCharacter-naming-inputs div  {
  display: flex;
  align-items: center;
  height: 3.8rem;
  margin-bottom: 0.8rem;
}

.makeCharacter-naming-inputs div:last-child {
  align-items: flex-start;
}

.makeCharacter-naming-inputs > div > label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 3.8rem;
  margin-right: 0.5rem;
  border-radius: 0.5rem;
  background: var(--color-main);
  color: var(--color-white);
  font-size: 1.8rem;
  font-family: var(--font-english-1);
}

.makeCharacter-naming-inputs input {
  width: 25rem;
  height: 3.8rem;
  padding: 1rem;
  border: 2px solid var(--color-orange-1);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: var(--font-korea);
}

#naming-introduce {
  width: 25rem;
  height: 8rem;
  padding: 1rem;
  border: 2px solid var(--color-orange-1);
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-family: var(--font-korea);
  resize: none;
}

.makeCharacter-naming-inputs input::placeholder,
#naming-introduce::placeholder {
  font-size: 1.4rem;
  color: var(--color-orange-0);
  font-family: var(--font-english-0);
  font-weight: 200;
}
/*buttons*/

.makeCharacter-name-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  height: 5rem;
}

.makeCharacter-name-buttons button {
  width: 8rem;
  height: 5rem;
  background: var(--color-orange-1);
  border: none;
  border-radius: 3rem;
  font-size: 1.5rem;
  color: var(--color-main);
}

.makeCharacter-name-buttons button[type="submit"] {
  background: var(--color-main);
  color: var(--color-white);
}

.makeCharacter-name-buttons button:hover,
.makeCharacter-name-buttons button:focus {
  border: 1px solid var(--color-purple-0);
  box-shadow: 1px 2px var(--color-purple-0);
}


/*animation*/

@keyframes make-nameofcharacter {
  0% {top: 100%;}
  50% {top: 50%rem;}
}